.completed {
    text-decoration: line-through;
    color: #999;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.todo-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.input-section button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: plum;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}
#taskList li {
    background: #f0f1ff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#taskList span {
    cursor: pointer;
}
#taskList li {
    animation: fadeIn 0.3s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#taskList li:hover {
    background: blanchedalmond;
}
